reading dataset

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df =pd.read_csv("../datasets/agricultural_dataset.csv")
df.tail(8)

,commodity_name,state,district,market,min_price,max_price,modal_price,date
836969,Arhar (Tur/Red Gram)(Whole),Gujarat,Dahod,Dahod,5300.0,5700.0,5500.0,06 Oct 2021
836970,Arhar (Tur/Red Gram)(Whole),Gujarat,Dahod,Dahod,6000.0,5800.0,0.0,06 Oct 2021
836971,Arhar (Tur/Red Gram)(Whole),Gujarat,Bharuch,Jambusar,5000.0,5400.0,5200.0,06 Oct 2021
836972,Arhar (Tur/Red Gram)(Whole),Gujarat,Bharuch,Jambusar(Kaavi),5100.0,5500.0,5300.0,06 Oct 2021
836973,Arhar (Tur/Red Gram)(Whole),Gujarat,Rajkot,Jasdan,3500.0,5500.0,5000.0,06 Oct 2021
836974,Arhar (Tur/Red Gram)(Whole),Gujarat,Rajkot,Rajkot,5300.0,6225.0,5650.0,06 Oct 2021
836975,Arhar (Tur/Red Gram)(Whole),Gujarat,Junagarh,Visavadar,4750.0,5750.0,5250.0,06 Oct 2021
836976,Arhar (Tur/Red Gram)(Whole),Kerala,Kasargod,Neeleswaram,10500.0,11500.0,11000.0,06 Oct 2021

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 836977 entries, 0 to 836976
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   commodity_name  836976 non-null  object
 1   state           836977 non-null  object
 2   district        836977 non-null  object
 3   market          836977 non-null  object
 4   min_price       836976 non-null  float64
 5   max_price       836976 non-null  float64
 6   modal_price     836976 non-null  float64
 7   date            836976 non-null  object
dtypes: float64(3), object(5)
memory usage: 51.1+ MB